body{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
tr, td{
    border: 1px solid black;
    height: 45px;
}
table{
    margin: 0 auto;
    width: 95%;
    border-collapse: collapse;
    text-align: center;
}
th{
    border: 1px solid black;
    background-color: bisque;
    width: 14%;
}

.text_red{
    color: red;
}
.text_blue{
    color: blue;
}
.bg_pink{
    background-color: pink;
}
.bg_cfblue{
    background-color: cornflowerblue;
}