body{
            width: 70%;
            margin: 0 auto;
            text-align: center;
        }
        .menu_bar{
            margin: 0 auto;
            width: 100%;
            height: 50px;
            background-color: bisque;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .menu{
            display: flex;
            border: 1px solid black;
            align-items: center;
            justify-content: center;
        }
        a{
            text-decoration: none;
            color: black;
            width: 100%;
            padding: 10px 0px;
        }
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
        }
        .my_page img{
            height: 150px;
            object-fit: cover;
        }