.social_login{
    display: flex;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease;
}
.social_login:hover {
    transform: scale(1.05); 
}
.social_login img {
    width: 100%;
    height: 50px;
}
.login_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

form{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
}
.grid_row4{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.grid_row2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}
.grid_col{
    margin: 10px 0 -8px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.grid_col input:hover{
    cursor: pointer;
}