.social_login{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease;
}
.social_login:hover {
    transform: scale(1.05); 
}
.social_login img {
    width: 98%;
    height: 65px;
}
.login_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}
form{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.grid_row4{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.grid_row2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}
.grid_col{
    margin: 10px 0 -8px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.grid_col input:hover{
    cursor: pointer;
}
.container{
    position: relative;
    width: 300px;
    height: 300px;
}
.btn{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: skyblue;
    border: 2px solid skyblue;
    border-radius: 10px;
    pointer-events: none; 
    transition: transform 0.6s ease, opacity 0.4s ease;
    font-size: 24px;
    font-weight: bold;
}

.click-area {
    position: absolute;
    inset: 0;
    z-index: 10;
    cursor: pointer;
}

.top-half {
    clip-path: inset(0 0 49% 0);
}
.bottom-half {
    clip-path: inset(49% 0 0 0);
}

.hidden{
    position: absolute;
    inset: 0;
    border: 2px solid black;
    background: white;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
    padding: 10px;
    pointer-events: none;
    z-index: 5;
}


/* ==============================
    체크되었을 때 애니메이션
============================== */

#open:checked ~ .click-area {
  pointer-events: none;
}
#open:checked ~ .top-half {
    transform: translateY(-100%);
    opacity: 0;
}

#open:checked ~ .bottom-half {
    transform: translateY(100%); 
    opacity: 0;
}

#open:checked ~ .hidden {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* 열린 상태에서 클릭 가능 */
    z-index: 20;          /* click-area보다 위에 오도록 */
}