.social_login{
    display: flex;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease;
}
.social_login:hover {
    transform: scale(1.05); 
}
.social_login img {
    width: 100%;
    height: 50px;
}
.login_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

form{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.grid_row4{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.grid_row2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}
.grid_col{
    margin: 10px 0 -8px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.grid_col input:hover{
    cursor: pointer;
}
.container{
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid skyblue;
    background-color: skyblue;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    transition: opacity 0.25s ease, transform 0.25s ease;
    opacity: 1;
    overflow: visible;
    pointer-events: auto;
    will-change: opacity;
}
.btn.top-half h2{
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.btn.bottom-half h2{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.btn.top-half { 
    top: 0; 
    border-bottom-left-radius:0; 
    border-bottom-right-radius:0; }
.btn.bottom-half { 
    bottom: 0; 
    border-top-left-radius:0; 
    border-top-right-radius:0; }

.hidden{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease;
    pointer-events: none;
    will-change: opacity;
}
.hidden .social_login{
    transition: opacity 0.1s ease;
}
.text-top {
    display: inline-block;
    transform-origin: bottom;
    overflow: hidden;
    clip-path: inset(0 0 50% 0);
}
.text-bottom {
    display: inline-block;
    transform-origin: top;
    overflow: hidden;
    clip-path: inset(50% 0 0 0);
}

.container:hover .btn.top-half {
    transform: translateY(-100%);
    opacity: 0;
}
.container:hover .btn.bottom-half {
    transform: translateY(100%);
    opacity: 0;
}
.container:hover .hidden{
  opacity: 1;           
  visibility: visible;
  pointer-events: auto;  
}